*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {

}

body {
    font-size: 15px;
    font-family: 'Spartan', sans-serif;
    background: url("./images/bg-pattern-top-desktop.svg") no-repeat left top, url("./images/bg-pattern-bottom-desktop.svg"), no-repeat right bottom;
}

.container {
    max-width: min(1400px, 80%);
    margin: 5em auto 2em auto;
}

.row {
    display: flex;
}

.flex-item {
    width: 100%;
}

.flex-item + .flex-item {
    margin-left: 1em;
}

.wrapper {
    max-width: 90%;
}

.focus {
    min-width: 300px;
}

h1 {
    margin-bottom: 0.5em;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}

.wrapper p {
    color: hsl(303, 10%, 53%);
}

.text {
    margin-left: 2em;
    font-weight: 500;
    color: hsl(300, 43%, 22%);
}

.rating-wrapper {
    max-width: 80%;
    padding: 0.8em 3em 0.8em 2em;
    background-color: hsl(300, 100%, 90%);
    border-radius: 0.4rem;
}

.rating-wrapper + .rating-wrapper {
    margin-top: 1em;
}

.rating {
    display: flex;
    flex-basis: content;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
}

.rating-one {
    margin-right: auto;
}

.rating-two {
    margin-left: auto;
    margin-right: auto;
}

.rating-three {
    margin-left: auto;
}

.dummy {
    display: none;
    height: 0.7em;
}

.reviews {
    padding-top: 2em;
    padding-bottom: 2em;
}



img {
    max-width: 100%;
}

.review_header {
    display: flex;
    margin-bottom: 1em;
}

.profile_image {
    width: 60%;
    border-radius: 2rem;
}

.name {
    /* margin-left: 1em; */
    align-self: center;
    font-weight: 500;
}

.colored_text {
    color: hsl(333, 80%, 67%);
}

#colton_smith,
#irene_roberts,
#anne_wallace {
    background-color: hsl(300, 43%, 22%);
    color: white;
    padding: 2em 1.5em 2em 1.5em;
    border-radius: 0.4rem;
    height: 100%;
}

#irene_roberts {
    margin-top: 1em;
}

#anne_wallace {
    margin-top: 2em;
}

.reveiw_body {
    color: hsl(300, 24%, 96%);
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 3em 0 0em 0;
}
.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (max-width: 1020px) {
    body {
        background: url("./images/bg-pattern-top-mobile.svg") no-repeat left top, url("./images/bg-pattern-bottom-mobile.svg"), no-repeat bottom;    
    }
    
    .container {
        max-width: min(600px, 80%);
    }

    .row {
        flex-direction: column;
    }
    .flex-item + .flex-item {
        margin-left: 0;
    }
    .wrapper {
        max-width: 100%;
        margin-bottom: 1.5em;
        text-align: center;
    }
    .ratings {
        text-align: center;
    }
    .rating-wrapper {
        padding: initial;
        max-width: 100%;
        align-items: space-between;
    }

    .text {
        margin-left: initial;
    }

    .rating-one{
        margin-left: auto;
    }
    .rating-three{
        margin-right: auto;
    }

    .dummy {
        display: block;
    }

    .text {
        display: block;
        margin: 0.2em auto 0 auto;
    }
    #anne_wallace {
        margin-top: 1em;
    }

    .attribution {
        margin: 1.5em 0 0em 0;
    }
}